html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Sarala', sans-serif;
    text-decoration: none;
    background-color: #D9FAFF;
}

/* Nav */

.navbar{
    font-family: 'Saira', sans-serif;
    color: #D9FAFF;
}

.navbar img{
    width: 45px;
    height: auto;
}

.nav-bg{
    background-color: #00204A;
    color: #D9FAFF;
}

/* Header */

.carousel h1{
    font-family: 'Saira', sans-serif;
    color: #D9FAFF;
    font-size: 50px;
    text-shadow: 2px 2px 6px rgb(92, 92, 92);
}

.carouse-item{
    position: relative;
}

.carousel-item h1{
    position: absolute;
    top: -594px;
    right: -7px;
}

/* Quienes somos */

#quienes-somos{
    font-family: 'Saira', sans-serif;
    background-image: url('../img/bg_section_quienes_somos.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    
}

#quienes-somos h1, ion-icon{
    color: #00BBF0;
}

ion-icon{
    font-size: 50px;
}

#quienes-somos p{
    color: #00204A;
}

/* Destinos */

#destinos{
    font-family: 'Saira', sans-serif;
    color: #00BBF0;
}

.titulo{
    display: flex;
    justify-content: center;
}

.link{
    text-decoration: none;
}
.card{
    color: #00204A;
}

#destinos p{
    font-family: 'Sarala', sans-serif;
}
.card a{
    color: #00BBF0;
    font-family: 'Sarala', sans-serif;
}

/* Suscribete */

#suscribete{
    color:#D9FAFF;
    font-family: 'Saira', sans-serif;
    background: rgb(0,32,74);
    background: linear-gradient(180deg, rgba(0,32,74,1) 82%, rgba(0,32,74,1) 92%, rgba(165,197,211,1) 100%);
    
}

.icono :first-child {
    color:#D9FAFF;

}

.form-control{
    width: 100%;
    background-color: #00204A;
}

.form-control::-webkit-input-placeholder{
    color:#D9FAFF;
}

.form-control::-moz-placeholder{
    color:#D9FAFF;
}

.form-control:-ms-input-placeholder{
    color:#D9FAFF;
}

.form-control::placeholder{
    color:#D9FAFF;
}

input{
    color: #00204A;
    background: rgba(255,255,255,0.4);
}

.btn-primary{
    color: #00204A;
    background-color: #00BBF0;
}
.btn-primary:hover{
    color: #00204A;
    background-color: #00b0e0;
}

/* Footer */

footer{
    color:#00BBF0;
    background-color: #001633;
}

.logo-footer{
    width: 150px;
    height: auto;
}

footer p{
    font-size: 9px;

}


.twitter, .instagram, .facebook{
    font-size: 30px;
}


/* Consulta de medios animación menu */

@media (prefers-reduced-motion: reduce) {
    .collapsing {
        transition-property: height, visibility;
        transition-duration: .45s;
    }
}